@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 42 33% 94;
    --secondary-foreground: 0 0% 100%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 275 100% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 0 0% 0%;
    --input: 0 0% 100%;
    --ring: 275 100% 54%;
    --radius: 25px;
    --radiusXL: 50px;
    --cyan: 179 100% 54%;
    --green: 67 100% 54%;
    --orange: 22 100% 54%;
    --ocean-green: 179 27% 40%;
    --fuchsia: 275 42% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-black;
  }

  .alphanone {
    visibility: hidden;
  }

  @media (prefers-reduced-motion) {
    .alphanone {
      visibility: visible;
    }
  }

  .card-width {
    width: calc(100% - 32px);
  }

  table {
    @apply border-collapse flex flex-col lg:flex-row w-full lg:justify-between;
  }

  table tbody {
    @apply flex flex-col lg:flex-row gap-5;
  }

  table thead th {
    @apply lg:flex lg:flex-1;
  }

  thead th:first-of-type {
    @apply h-[52px] items-center;
  }

  table tbody tr th {
    @apply flex justify-center py-[10px] text-2xl text-center w-full;
  }

  thead {
    @apply hidden lg:flex;
  }

  tbody {
    @apply flex;
  }

  tbody {
    @apply flex-1;
  }

  table tr {
    @apply rounded-md lg:rounded-xl p-5 w-full;
  }

  table thead th {
    justify-content: start !important;
  }

  tbody tr:not(:last-of-type) {
    @apply border-1 border-black lg:border-none;
  }

  table tbody tr:last-of-type {
    @apply bg-secondary shadow-accent;
  }

  td,
  th:not(:first-of-type) {
    @apply py-[30px] lg:py-[20px] flex items-center justify-between text-center lg:justify-center h-6 text-sm;
  }

  table td::before {
    content: attr(data-label);
    display: block;
    float: left;
    font-weight: bold;
    width: 50%;
    text-align: start;
    @apply lg:hidden;
  }

  .image {
    @apply flex items-center justify-center;
  }

  .grecaptcha-badge {
    visibility: hidden;
  }
}
