---
import '@/styles/globals.css'
import fetchApi from "../lib/strapi";
import type {Page} from "../interfaces/page";
import BlockManager from "../components/BlockManager.astro";


export async function getStaticPaths() {

	const pages = await fetchApi<Page[]>({
		endpoint: 'pages',
		wrappedByKey: 'data',
	})

	return pages.map(page => {
		return {
			params: { slug: page.attributes.slug ?? undefined },
			props: page
		}
	})
}

const page = Astro.props;
---

<html lang="pl">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{page.attributes.title}</title>
	</head>
	<body>
		<div class="container">
			<BlockManager components={page.attributes.components} />
		</div>
	</body>
</html>
