---
import {Navigation, Logo, Button as IButton} from "../interfaces/page";
import {Button} from "@/components/ui/button";

interface Props {
    logo: Logo;
    navigation: Navigation[];
    cta?: IButton;
}

const {logo, navigation, cta} = Astro.props
---

<header class="w-full flex items-center justify-between h-20">
    <img src={import.meta.env.STRAPI_URL + logo.data.attributes.url}  alt=""/>
    <nav class="flex items-center justify-center gap-5 bg-secondary rounded-lg px-9 py-2">
        {navigation.map(element => <a href={element.href}>{element.title}</a>)}
    </nav>
    {
       cta ? (
               <Button variant={cta.variant == "primary" ? "" : cta.variant} >{cta.content}</Button>
       ) : ""
    }
</header>