---
import { Image } from "astro:assets";
import Title from "./Title.astro";
import Description from "./Description.astro";
import type { Form as IForm, Image as IImage } from "@/interfaces/page";
import Form from "./Form.astro";

interface Props {
    title: string;
    description: string;
    form: IForm; 
}

const { title, description, form } = Astro.props;
---

<div class="flex flex-col lg:flex-row items-center justify-between gap-12 lg:gap-24 py-20">
    <div class="flex flex-col gap-4">
        <Title className="text-center lg:text-left">{title}</Title>
        <Description className="text-center lg:text-left">{description}</Description> 
    </div>
    <Form form={form} />
</div>