---
import Title from "@/components/Title.astro";
import Description from "@/components/Description.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<title-with-description>
  <div class="flex flex-col items-start justify-center gap-4 sm:gap-8 py-12">
    <Title className="alphanone">{title}</Title>
    <Description className="max-w-screen-md alphanone"
      >{description}</Description
    >
  </div>
</title-with-description>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { isMobileOrReducedMotion } from "@/lib/utils.ts";

  class TitleWithDescription extends HTMLElement {
    constructor() {
      super();

      gsap.registerPlugin(ScrollTrigger);

      if (!isMobileOrReducedMotion()) {
        const title = this.querySelector("h2");
        const desc = this.querySelector("p");

        let tl = gsap.timeline({
          scrollTrigger: {
            trigger: this,
            start: "top center",
            end: "top center",
          },
        });

        tl.from(title, { y: "20%", autoAlpha: 0 })
          .to(title, {
            y: 0,
            duration: 0.1,
            ease: "power4.in",
          })
          .from(desc, { y: "20%", autoAlpha: 0 })
          .to(desc, {
            y: 0,
            duration: 0.1,
            ease: "power4.in",
          });
      }
    }
  }

  customElements.define("title-with-description", TitleWithDescription);
</script>
