---
interface Props {
  className?: string;
  h1?: boolean;
}

const { className, h1 } = Astro.props;
---

{
  h1 ? (
    <h1
      class={`text-2xl font-bold sm:text-[40px] sm:leading-[3rem] ${className}`}
    >
      <slot />
    </h1>
  ) : (
    <h2
      class={`text-2xl font-bold sm:text-[40px] sm:leading-[3rem] ${className}`}
    >
      <slot />
    </h2>
  )
}
